{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-white w3-animate-left w3-card" id="navSidebar">
        <span class="w3-bar-item" style="font-size: 20px">{{ request.user.email }}</span>
        <button onclick="nav_close()" class="w3-bar-item w3-button w3-hide-large w3-large">Close <i class="fa fa-remove"></i></button>
        <button class="w3-bar-item w3-button w3-dark-grey w3-hover-black" id="compose"><i class="fa fa-pencil w3-margin-right"></i>Compose</button>
        <button class="w3-bar-item w3-button w3-red w3-hover-sand" id="inbox"><i class="fa fa-inbox w3-margin-right"></i>Inbox</button>
        <button class="w3-bar-item w3-button" id="sent"><i class="fa fa-paper-plane w3-margin-right"></i>Sent</button>
        <button class="w3-bar-item w3-button" id="archived"><i class="fa fa-archive w3-margin-right"></i>Archived</button>
        <a class="w3-bar-item w3-button" href="{% url 'logout' %}"><i class="fa fa-sign-out w3-margin-right"></i>Log Out</a>
    </nav>

    <!-- Overlay effect on small-to-medium screens, when collapsed sidebar is opened  -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="nav_close()" style="cursor:pointer" id="navOverlay"></div>

    <!-- Icon to open collapsed sidebar -->
    <i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" onclick="nav_open()"></i>

    <div id="emails-view" class="w3-main w3-container">
    </div>

    <div id="compose-view" class="w3-main w3-container">
        <h3 class="w3-opacity">New Email</h3>
        <form id="compose-form">
            <label>From</label><input disabled class="w3-input w3-border" value="{{ request.user.email }}"><br />
            <label>To</label><input id="compose-recipients" class="w3-input w3-border"><br />
            <label>Subject</label><input class="w3-input w3-border" id="compose-subject"><br />
            <textarea rows="4" class="w3-input w3-border" id="compose-body" placeholder="What's on your mind?"></textarea><br />
            <button type="submit" id="submit" class="w3-button w3-light-grey">Send <i class="fa fa-paper-plane"></i></button>
        </form>
    </div>

    <!-- Page to view an email -->
    <div id="email-view" class="w3-main w3-container">
    </div>
    <br />
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}